{% extends 'style/starter.html.twig' %}
{% block head_css %}
    <script rel="stylesheet"{{ asset('style/bower_components/select2/dist/css/select2.min.css') }}></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
 {% block header %}
     GROOIN GROIN GROIN {{ app.user.roles[0] }}
     {% if  is_granted('ROLE_SUPER_ADMIN') %}
         <a href="{{ path('app_logout') }}">tu es SUP admin</a>
     {% endif %}
     {% if is_granted('ROLE_ADMIN') %}
         <a href="...">tu es admin</a>
     {% endif %}
     {% if is_granted('ROLE_USER') %}
         <a href="...">tu es user</a>
     {% endif %}
 {% endblock %}

 {% block content %}
     <div class="row">
         <div class="col-xs-12">
             <div class="box box-default">
                 <div class="box-header with-border">
                     <h3 class="box-title">Réserver Livres</h3>
                 </div>
                 <div class="box-body">
                     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                         Launch Default Modal
                     </button>
                     <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
                         Réserver un livre
                     </button>
                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
                         Réclamation au personnel
                     </button>
                     <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
                         Launch Warning Modal
                     </button>
                     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                         Launch Success Modal
                     </button>
                 </div>
             </div>
         </div>
     </div>

     <div class="modal modal-info fade" id="modal-info">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">Je veux réserver un Livre </h4>
                     <i class="fa fa-fw fa-hand-paper-o"></i>Vous aurez alors une semaine pour venir récupérer ce livre
                     dans notre Bibliothèque
                 </div>
                 <div class="modal-body">
                     {{ render(controller('App\\Controller\\ReservationController::index')) }}
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                 </div>
             </div>
             <!-- /.modal-content -->
         </div>
         <!-- /.modal-dialog -->
     </div>


     <h1>Emprunts en cours</h1>
     <div class="row">
         {{ render(controller('App\\Controller\\ReadCustomerBorrowController::index')) }}


     </div>


     <h1>Réservations en cours</h1>
     <div class="row">
         {{ render(controller('App\\Controller\\ReadCustomerReservationController::index')) }}


     </div>

 {% endblock %}
{% block javascripts %}

    <script src="{{ asset('style/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('style/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script>    $(document).ready(function () {
            $('.js-example-basic-single').select2()
        });
    </script>

{% endblock %}