{% extends 'style/starter.html.twig' %}
{% block css %}
    <link rel="stylesheet"
          href="{{ asset('style/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}
{% block header %}
    <a href="{{ path('add_subscription') }}" class="btn btn-success">Ajouter un Abonnement</a> {% endblock %}
{% block content %}
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Abonnement</th>
                <th>Prix Mensuel</th>
                <th>Durée</th>
                <th>Nombre d'abonnés</th>
                <th>Gérer</th>
            </tr>
            </thead>
            <tbody>
            {% for abo in subscription %}
                <tr>
                    <td>{{ abo.label }}</td>
                    <td>  {{ abo.price }}
                    </td>
                    <td>{{ abo.duration }}</td>
                    <td>nbr</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('update_subscription', {'id': abo.id} ) }}">Gérer
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('style/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('style/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#example1').DataTable();
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
{% endblock %}